In [1]:
!pip install folium
!pip install beautifulsoup4

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import requests
import json
from bs4 import BeautifulSoup
import matplotlib.cm as cm
import matplotlib.colors as colors

%matplotlib inline

Requirement already satisfied: folium in c:\users\leaf\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: branca in c:\users\leaf\anaconda3\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2 in c:\users\leaf\anaconda3\lib\site-packages (from folium) (2.10)
Requirement already satisfied: requests in c:\users\leaf\anaconda3\lib\site-packages (from folium) (2.21.0)
Requirement already satisfied: six in c:\users\leaf\anaconda3\lib\site-packages (from folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\leaf\anaconda3\lib\site-packages (from jinja2->folium) (1.1.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\leaf\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\leaf\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\leaf\anaconda3\lib\site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\leaf\anaconda3\lib\site-packages (from requests->folium) (2018.11.29)
Requirement already satisfied: beautifulsoup4 in c:\users\leaf\anaconda3\lib\site-packages (4.6.3)

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

resp = requests.get(url)
toronto_html = BeautifulSoup(resp.content)

In [12]:
soup = BeautifulSoup(str(toronto_html))
neighborhood_table = soup.find('table')
table_str = str(neighborhood_table.extract())
toronto_df = pd.read_html(table_str)[0]
toronto_df.head()

             0             1                 2
0  Postal Code       Borough     Neighbourhood
1          M1A  Not assigned      Not assigned
2          M2A  Not assigned      Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

In [16]:
toronto_df.columns = ['PostalCode', 'Borough', 'Neighbourhood']
toronto_df = toronto_df.iloc[1:]
toronto_df.head()

  PostalCode           Borough              Neighbourhood
1        M1A      Not assigned               Not assigned
2        M2A      Not assigned               Not assigned
3        M3A        North York                  Parkwoods
4        M4A        North York           Victoria Village
5        M5A  Downtown Toronto  Regent Park, Harbourfront

In [17]:
borough_na = toronto_df[toronto_df.Borough == 'Not assigned']
toronto_df.drop(borough_na.index, inplace=True)

In [18]:
toronto_df.head()

  PostalCode           Borough                                Neighbourhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [19]:
toronto_df.shape

(103, 3)

Question 2 begins here

In [20]:
geo_url = "https://cocl.us/Geospatial_data"

geocode_df = pd.read_csv(geo_url)
geocode_df.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
geocode_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [21]:
toronto_df = pd.merge(toronto_df, geocode_df, on='PostalCode')
toronto_df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

Question 3 begins here

In [24]:
toronto_latlong = [43.653225, -79.383186]
toronto_map = folium.Map(location=toronto_latlong, zoom_start=11)

for lat, lng, label in zip(toronto_df['Latitude'], toronto_df['Longitude'], toronto_df['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='#2E7D32',
        fill=True,
        fill_color='#FFEB3B',
        fill_opacity=0.75,
        parse_html=False).add_to(toronto_map)

In [25]:
toronto_df.loc[0, 'Borough']
print('Latitude and longitude values of {} are {}, {}.'.format(toronto_df.loc[0, 'Borough'], 
                                                               toronto_df.loc[0, 'Latitude'], 
                                                               toronto_df.loc[0, 'Longitude']))

Latitude and longitude values of North York are 43.7532586, -79.3296565.